:host{
  flex-grow: 1;
}
.support{
  background-color: #ddd;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.mailto-link{
  color: #000;
  font-weight: bold;
}